Repository bloomberg/comdb2, pull requests merged in 2018-12, with the labels that each got.

#1230 cdb2api event handling
  cdb2api/cdb2api.c
  cdb2api/cdb2api.h
  docs/pages/config/clients.md
  docs/pages/programming/c_api.md
  tests/api_dl_libs.test/Makefile
  tests/api_dl_libs.test/expected
  tests/api_dl_libs.test/runit
  tests/api_events.test/Makefile
  tests/api_events.test/expected
  tests/api_events.test/runit
  tests/cdb2api_unit.test/Makefile
  tests/tools/CMakeLists.txt
  tests/tools/api_events.c
  tests/tools/api_hello_world_lib.c
  tests/tools/api_libs.c
Labels: docs, enhancement

#1306 Fix issues with the integration of query parallelization (e.g. UNION)...
  db/dohast.c
  db/fdb_fend.c
  db/sqlexplain.c
  db/sqlglue.c
  db/views_sqlite.c
  sqlite/src/build.c
  sqlite/src/expr.c
  sqlite/src/sqliteInt.h
  sqlite/src/vdbeaux.c
Labels: SQLite

#1304 Reduce the memory footprint
  berkdb/db/trigger_subscription.c
  db/comdb2.c
  db/process_message.c
  dlmalloc/dlmalloc.c
  plugins/dbqueuedb/dbqueuedb.c
  sqlite/ext/comdb2/comdb2systbl.h
  util/logmsg.c
  util/object_pool.c
  util/quantize.c
  util/sbuf2.c
  util/switches.c
  util/tohex.c
  util/xstring.c
Labels: SQLite, WIP, cleanup

#1316 Register database tunables in a more memory friendly way.
  bbinc/tunables.h
  db/db_tunables.c
  sqlite/ext/comdb2/tunables.c
  tests/tunables.test/t01_dyn_tunables.expected
  tests/tunables.test/t01_dyn_tunables.sql
Labels: SQLite, enhancement

#1324 #ifdef osql session tracking code
  db/osqlrepository.c
Labels: enhancement

#1302 expr generation for between and subqueries(excluded)
  sqlite/src/expr.c
Labels: SQLite

#1255 DDL: alter column
  docs/images/alter-table-ddl.gif
  docs/src/sqlitegen/bubble-generator-data.tcl
  sqlite/src/comdb2build.c
  sqlite/src/comdb2build.h
  sqlite/src/parse.y
  sqlite/tool/mkkeywordhash.c
  tests/ddl_no_csc2.test/t01_alter_table.expected
  tests/ddl_no_csc2.test/t01_alter_table.sql
Labels: R7, SQLite

#1326 Miscellaneous cleanup to recent SQLite changes.
  sqlite/src/hash.c
  sqlite/src/insert.c
  sqlite/src/memjournal.c
  sqlite/src/sqliteInt.h
  sqlite/src/vdbeaux.c
Labels: SQLite

#1332 Improvements and fixes to EXPLAIN
  db/sqlexplain.c
  tests/limitsortingtbl.test/sel1.expected
Labels: Port_To_R6, ready to review

#1312 DDL: Check user privileges early
  sqlite/src/comdb2build.c
  tests/auth.test/runit
  tests/auth.test/t14.expected
  tests/auth.test/t14.req
  tests/ddl_no_csc2.test/t00_create_table.expected
  tests/ddl_no_csc2.test/t06_fk.sql
  tests/ddl_no_csc2.test/t07_auth.expected
  tests/ddl_no_csc2.test/t07_auth.sql
Labels: SQLite

#1334 DDL: Create/select right indices for FKs during ALTER
  sqlite/src/comdb2build.c
  tests/ddl_no_csc2.test/t01_alter_table.expected
  tests/ddl_no_csc2.test/t01_alter_table.sql
Labels: SQLite

#1344 Fix a typo in the tunables system.
  db/config.c
Labels: bug

#1303 Changes needed to support hungserv and dbstats addons.
  cdb2api/CMakeLists.txt
  db/dbglog.h
  db/dbglog_iface.c
  db/sqlinterfaces.c
  plugins/newsql/newsql.c
  sqlite/definitions.cmake
  sqlite/src/func.c
  tools/cdb2sql/CMakeLists.txt
  tools/cdb2sql/cdb2sql.cpp
Labels: SQLite, enhancement, ready to review
