Repository bloomberg/comdb2, pull requests merged in 2019-06, with the labels that each got.

#1603 Better error messages for disabled features
  sqlite/src/comdb2build.c
  sqlite/src/insert.c
Labels: SQLite

#1535 Fix potential temptable / object pool deadlock, add tests and diagnostics
  bbinc/object_pool.h
  bdb/bdb_api.h
  bdb/bdb_int.h
  bdb/cursor.c
  bdb/file.c
  bdb/temptable.c
  db/db_tunables.c
  db/process_message.c
  db/sqlglue.c
  db/sqlinterfaces.c
  tests/tmptbl_deadlock.test/Makefile
  tests/tmptbl_deadlock.test/bigpool.testopts
  tests/tmptbl_deadlock.test/lrl.options
  tests/tmptbl_deadlock.test/runit
  tests/tmptbl_deadlock.test/starve.testopts
  tests/tmptbl_deadlock.test/zeropool.testopts
  tests/tmptbl_leak.test/Makefile
  tests/tmptbl_leak.test/bigpool.testopts
  tests/tmptbl_leak.test/lrl.options
  tests/tmptbl_leak.test/megapool.testopts
  tests/tmptbl_leak.test/output.expect
  tests/tmptbl_leak.test/output.expect.alt
  tests/tmptbl_leak.test/output.expect.alt2
  tests/tmptbl_leak.test/runit
  tests/tmptbl_leak.test/starve.testopts
  tests/tmptbl_leak.test/zeropool.testopts
  util/object_pool.c
Labels: R7, enhancement, ready to review, testsuite

#1615 cdb2jdbc: do not mask the real error from retryQueries
  cdb2jdbc/src/main/java/com/bloomberg/comdb2/jdbc/Comdb2Handle.java
Labels: JDBC, bug

#1614 Enable ANALYZE ALL
  sqlite/src/parse.y
  tests/ddl_analyze.test/Makefile
  tests/ddl_analyze.test/README
  tests/ddl_analyze.test/lrl.options
  tests/ddl_analyze.test/runit
  tests/ddl_analyze.test/t00_analyze.expected
  tests/ddl_analyze.test/t00_analyze.sql
Labels: R7, SQLite

#1619 Cleanup and simplify the check_sql() function...
  db/sql.h
  db/sqlinterfaces.c
  docs/images/exec-procedure.gif
  docs/pages/programming/sql.md
  docs/src/sqlitegen/bubble-generator-data.tcl
  lua/sp.c
  sqlite/src/main.c
  tests/sp.test/sp.sh
  tests/sp.test/t01.req.out
Labels: R7, SQLite

#1632 Fix a memory leak in the Comdb2 customization in OP_Column handling.
  sqlite/src/vdbe.c
  tests/sql_func_mem_leak.test/Makefile
  tests/sql_func_mem_leak.test/lrl.options
  tests/sql_func_mem_leak.test/runit
Labels: SQLite, bug

#1637 net: Use comdb2_malloc to allocate network messages
  db/comdb2.c
  db/glue.c
  db/handle_buf.c
  db/process_message.c
  mem/mem.h
  net/net.c
  net/net_int.h
  util/thdpool.c
Labels: R7, enhancement

#966 Connections table
  bbinc/thdpool.h
  db/comdb2.c
  db/comdb2.h
  db/eventlog.c
  db/sql.h
  db/sqlinterfaces.c
  plugins/newsql/newsql.c
  sqlite/CMakeLists.txt
  sqlite/ext/comdb2/comdb2systblInt.h
  sqlite/ext/comdb2/connections.c
  sqlite/ext/comdb2/tables.c
  tests/auth.test/t09.expected
  tests/cdb2sql.test/t00.expected
  tests/comdb2sys.test/comdb2sys.expected
  tests/comdb2sys.test/t8.args
  tests/comdb2sys.test/t8.expected
  tests/comdb2sys.test/t8.test
  tests/comdb2sys.test/t8.tool
  tests/comdb2sys.test/testconnections
  tests/userschema.test/t00.expected
  tests/userschema.test/t07.expected
  tests/userschema.test/t09.expected
  util/thdpool.c
Labels: SQLite

#1617 Highly experimental changes to dohast / bound parameter handling
  db/dohast.c
  db/dohsql.c
  db/sqlinterfaces.c
  sqlite/src/func.c
  tests/union_parallel.test/9_2_params.req
  tests/union_parallel.test/9_2_params.req.exp
Labels: R7, SQLite, ready to review

#1635 Skip calling trans_abort() for the schema change transaction when it is null.
  db/toblock.c
Labels: R7, bug, ready to review

#1647 Further optimize the memory use of the net layer
  net/net.c
  tests/netmem.test/Makefile
  tests/netmem.test/runit
Labels: enhancement

#1642 Fix memory corruption
  sqlite/ext/comdb2/ezsystables.c
Labels: SQLite

#1650 Stop checking 'allow_lua_exec_with_ddl' tunable after Lua is setup.
  lua/sp.c
Labels: R7, bug
