Repository bloomberg/comdb2, pull requests merged in 2019-03, with the labels that each got.

#1461 datetime: Fix drifting timezone
  datetime/localtimedb.c
  tests/datetime.test/t5_01.req
  tests/datetime.test/t5_01.req.expected
Labels: bug

#1445 Port fix string in indexes
  db/comdb2.h
  db/fdb_fend.c
  db/osqlshadtbl.c
  db/sql.h
  db/sqlglue.c
  db/sqlinterfaces.c
  plugins/remsql/fdb_comm.c
  sqlite/src/build.c
  sqlite/src/expr.c
  sqlite/src/wherecode.c
  tests/sc_addcolumn_remsql.test/Makefile
  tests/sc_addcolumn_remsql.test/lrl.options
  tests/sc_addcolumn_remsql.test/runit
  tests/sc_addcolumn_remsql.test/test_sc.sh
  tests/testcase.mk
Labels: R7, SQLite

#1470 sc commands and systbl
  bdb/bdb_api.h
  bdb/bdb_blkseq.c
  bdb/lite.c
  bdb/llmeta.c
  db/osqlblockproc.c
  db/osqlcomm.c
  db/sqloffload.c
  docs/images/alter-table-ddl.gif
  docs/images/schemachange.gif
  docs/pages/programming/sql.md
  docs/pages/programming/system_tables.md
  docs/src/sqlitegen/bubble-generator-data.tcl
  schemachange/sc_add_table.c
  schemachange/sc_alter_table.c
  schemachange/sc_drop_table.c
  schemachange/sc_global.c
  schemachange/sc_global.h
  schemachange/sc_logic.c
  schemachange/sc_records.c
  schemachange/sc_rename_table.c
  schemachange/sc_struct.c
  schemachange/schemachange.c
  schemachange/schemachange.h
  sqlite/CMakeLists.txt
  sqlite/ext/comdb2/comdb2systblInt.h
  sqlite/ext/comdb2/scstatus.c
  sqlite/ext/comdb2/tables.c
  sqlite/src/comdb2build.c
  sqlite/src/comdb2build.h
  sqlite/src/parse.y
  sqlite/tool/mkkeywordhash.c
  tests/auth.test/t09.expected
  tests/cdb2sql.test/t00.expected
  tests/comdb2sys.test/comdb2sys.expected
  tests/eventlog.test/runit
  tests/insert_lots.test/Makefile
  tests/reqlog_fingerprints.test/runit
  tests/userschema.test/t00.expected
  tests/userschema.test/t07.expected
  tests/userschema.test/t09.expected
Labels: SQLite

#1474 Fix 'REBUILD INDEX' triggering an assert() at the top of add_ongoing_alter().
  sqlite/src/comdb2build.c
Labels: R7, SQLite, ready to review

#1468 Always allow subsequent queries from open transactions to be queued.
  bbinc/thdpool.h
  db/sqlinterfaces.c
  tests/txn_queuing.test/Makefile
  tests/txn_queuing.test/lrl.options
  tests/txn_queuing.test/runit
  util/thdpool.c
Labels: enhancement

#1397 Update fingerprinting code to use the SQLite API
  bbinc/memdup.h
  cdb2api/CMakeLists.txt
  db/CMakeLists.txt
  db/comdb2.c
  db/comdb2.h
  db/db_fingerprint.c
  db/dohsql.c
  db/reqlog.c
  db/sql.h
  db/sqlexplain.c
  db/sqlinterfaces.c
  plugins/newsql/newsql.c
  sqlite/definitions.cmake
  sqlite/ext/comdb2/fingerprints.c
  sqlite/ext/misc/completion.c
  sqlite/ext/misc/regexp.c
  sqlite/ext/misc/series.c
  sqlite/src/analyze.c
  sqlite/src/build.c
  sqlite/src/comdb2build.c
  sqlite/src/comdb2build.h
  sqlite/src/comdb2lua.c
  sqlite/src/delete.c
  sqlite/src/expr.c
  sqlite/src/func.c
  sqlite/src/insert.c
  sqlite/src/main.c
  sqlite/src/mem1.c
  sqlite/src/parse.y
  sqlite/src/prepare.c
  sqlite/src/resolve.c
  sqlite/src/select.c
  sqlite/src/sqlite.h.in
  sqlite/src/sqlite3.h
  sqlite/src/sqliteInt.h
  sqlite/src/update.c
  sqlite/src/upsert.c
  sqlite/src/vdbe.c
  sqlite/src/vdbe.h
  sqlite/src/vdbeInt.h
  sqlite/src/vdbeapi.c
  sqlite/src/vdbeaux.c
  sqlite/src/vdbemem.c
  sqlite/src/vdbesort.c
  sqlite/src/where.c
  sqlite/src/wherecode.c
  tcl/CMakeLists.txt
  tests/eventlog.test/runit
  tests/reqlog_fingerprints.test/runit
  tests/rootpagememleak.test/lrl.options
  tests/sql.test/lrl.options
  tests/sql.test/t6_01.req
  tests/sql.test/t6_01.req.exp
  tests/sql.test/t7_01.req
  tests/sql.test/t7_01.req.exp
  tests/tunables.test/t00_all_tunables.expected
  util/CMakeLists.txt
  util/memdup.c
Labels: R7, SQLite, ready to review

#1423 Handling of TK_FLOAT for remote cursors
  sqlite/src/expr.c
  sqlite/src/func.c
  sqlite/src/prepare.c
  sqlite/src/sqliteInt.h
  sqlite/src/util.c
Labels: R7, SQLite, enhancement, ready to review

#1479 Stop using TK_SELECTV from code, instead relying on the 'recording' flag.
  db/dohast.c
  sqlite/src/build.c
  sqlite/src/expr.c
  sqlite/src/parse.y
  sqlite/src/resolve.c
  sqlite/src/select.c
  sqlite/src/window.c
Labels: R7, SQLite, ready to review

#1476 cdb2api: Disable hungserv/dbstats by default
  cdb2api/cdb2api.c
  tests/api_dl_libs.test/expected
  tests/api_dl_libs.test/runit
  tests/api_events.test/runit
  tests/tools/api_events.c
  tests/tools/api_libs.c
Labels: enhancement

#1482 Fix osql_shadtbl_usedb_only()
  db/osqlshadtbl.c
  db/sqloffload.c
Labels: bug
